table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    border-radius: var(--radio-borde);
    overflow: hidden;
    box-shadow: var(--sombra);
}

thead {
    background: var(--color-primario);
    color: white;
}

thead th {
    padding: 12px;
    text-align: center;
    font-weight: 600;
}

tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: var(--color-tabla-hover);
    cursor: pointer;
}

/* Scroll horizontal en móvil */
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}